.right-blog-column {
    
    text-align: center;
  padding: 2rem 1rem;
  color: #9a9a9a; /*rgba(255,255,255,.5);*/
  /*background-color: #202020;*/
}

@media (min-width: 64em) {/* 65em is more than tablet landscape, use for 1st post highlight*/
    
    .container {
        width: 67%;
    }
    
    .content { /* Move content on the left (makes space for extra column) */
    margin-left: 0 !important;
    }
    
    .content .post {
        margin-left: 2em;
    }
    
    .content .related {
        margin-left: 2em;
    }
    
    .right-blog-column {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
        width: 33%;
        /*width: 18rem;*/
        margin-top: 143px;
        /*text-align: right;*/
    }
}

.right-blog-column div a {
    font-size: 75%;
    margin-left: 0.5em;
}

.tag-cat-list {
    
    margin-left: 8%;
    margin-right: 8%;
    
}