---
layout: extra-column
---

{% comment %} Generate localized date {% endcomment %}
{% assign months = "Gennaio|Febbraio|Marzo|Aprile|Maggio|Giugno|Luglio|Agosto|Settembre|Ottobre|Novembre|Dicembre" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p><span class="post-date post-description">Pubblicato il {{ day }} {{ month }} {{ year }}
      {% if page.categories[0] != null %} &nbsp in: &nbsp
            {% for category in page.categories %}
                <a class="category-button" href="">{{ category }}</a>
            {% endfor %}
        {% endif %}
    </span>
    
    {% if page.tags[0] != null %}
        <span class="post-description"><span class="icon icon-tags"></span>&nbsp 
            {% for tag in page.tags %}
                <a class="tag-button" href="">{{ tag }}</a>
            {% endfor %}
            </span>
    {% endif %}
    </p>
    
  {% if page.images[0] != null %}
    <!-- Immagine inserita -->
    {% assign image = page.images[0] %}
    <img src="{{ image.url }}" alt="{{ image.alt }}">
  {% else %}
    <!-- Se più immagini presenti, provare a fare una galleria -->
    <!-- Immagine assente -->
  {% endif %}
  {{ content }}
</div>

{% include share-page.html %}

<div class="related">
  <h2>Post recenti</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
              
                {% assign m = post.date | date: "%-m" | minus: 1 %}
                {% assign day = post.date | date: "%d" %}
                {% assign month = months[m] %}
                {% assign year = post.date | date: "%Y" %}
              
            <small>{{ day }} {{ month }} {{ year }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
